@import "../../Inicialized/variables.scss";

@media screen and (max-device-width: 1280px) {
   
.headerEmp{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: relative;
    padding-right: 33%;
    -webkit-box-shadow: none; 
    box-shadow: none;
    background-color: #fff !important;
}



.logoDetalleEmp{
    height: 40vw;
    bottom: 5vw;
    right: 13vw;
    position: absolute;
    border-radius: 50%;
    z-index: 201;
}

.descripcionEmp{
    height: auto;
    flex: 1;
    margin-left: 0em;
    padding-left: 0.5em;
    display: flex;
    position: absolute;
    top: 0vw;
    left: 0vw;
    flex-direction: column;
    text-align: left;
    z-index: 201;
}

.descripcionEmp h1{
    font-size: 2.2em;
    color: $primary;
    margin-top: 0.5em;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.79);
}


.descripcionEmp h2{
    font-size: 1em;
    color: #fff;
    margin-left: 0.5em;
}

.cal_VisDetalleEmp{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.calificacionesDetalleEmp{
    flex: 1;
}

.vistasDetalleEmp{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.4em;
}

.iconoVistas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 1em 0.5em 1em;
}

.iconoVistas span{
    margin-left: 0.5em;
    color: #fff;
}

.colorInfos{
    color: #fff;
}

.colorPromos{
    color: #fff;
}

.colorVistos{
    color: #fff;
}

}