
@import '../../Inicialized/variables.scss';


.header{
    width: 100%;
    background-color: $primary;
    height: 25em;
    padding: 1em 20em;
    position: relative;
}

.tituloMako {
    display: flex;
    align-items: center;
}

.tituloMako .imgMakoLogo{
    width: 50px;
    margin-right: 1em;
}

    .fondoHeader{
        visibility: hidden;
    }
