@import '../../Inicialized/variables.scss';


.Filtros{
    width: 50%;
    height: 2em;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Filtro{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Secondary;
    padding: 0.2em 1em;
    border-radius: 1em;
    margin: 0em 0.5em;
}

.btnCerrar{
    border: solid 1px transparent;
    width: 0.5em;
    height: 0.5em;
    font-size: 3.1em;
    color: #fff;
    background-color: $gray2;
    position: relative;
    right: -0.2em;
    vertical-align: center;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
    cursor: pointer;

}
