@import "../../Inicialized/variables.scss";

.HeaderGeneralContainer{
    background-color: $primary;
    width: 100%;
    display: flex;
    padding: 1vw;
    justify-content: flex-end;
    align-items: center;
}

.HeaderGeneralContainer img{
    height: 5vw;
    margin-left: 1vw;
    
}